<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:insert="student/fragments :: headFragment">
<title id="pageTitle">AIBTGlobal Student - Change of Campus</title>
</head>

<body>
	<nav th:replace="student/fragments :: navFragment"></nav>

	<div class="bottom" style="padding-bottom: 300px">
		<div class="">
			<p class="rightTit">Change of Campus</p>

			<div class="rightcon">
				<div class="three">
					<div class="three">
						<p>
							<img th:src="@{/image/xiaolian.png}" class="xiaolian">
						</p>
						<p>
							Your application has been submitted successfully!<br> Our
							staff will process your application within 48 hours.<br>
							Thanks for your patience!
						</p>
						<form method="get" th:action="@{/student/history/}+${ticketNum}">
							<div class="bootbtn">
								<button type="submit" class="btn btn-success">Done</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>