<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">

    <title>Title</title>
    <link rel="stylesheet" href="../css/confirm.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
      <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
   <!-- Popper JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="" class="logo"><img src="../image/logo.png"></a>
    
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent" style="margin-left:60px;">
            <div class="dropdown">
                <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All Applications
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Leave of Absence</a>
                  <a class="dropdown-item" href="#">Withdrawal and Release</a>
                  <a class="dropdown-item" href="#">Credit Transfer</a>
                  <a class="dropdown-item" href="#">Change of Campus</a>
                </div>
              </div>
    
        <a href="logout.php"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log Out</button></a>
        
    </div>
    </nav>

    <div class="bottom">
        <Div class="">
            <p class="rightTit">
                Credit Transfer
            </p>
          
            <Div class="rightcon">


        
                <p class="rightSubtit">
                    Your application has been submitted successfully! <br>
                    For the result, you will receive an email.
                </p>


            </Div>

        </Div>
    </div>

</body>
</html>