<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">

    <title>Title</title>
    <link rel="stylesheet" href="../css/confirm.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- Link to use icon-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="../js/common.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="" class="logo"><img src="../image/logo.png"></a>
    
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent" style="margin-left:60px;">
            <div class="dropdown">
                <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All Applications
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Leave of Absence</a>
                  <a class="dropdown-item" href="#">Withdrawal and Release</a>
                  <a class="dropdown-item" href="#">Credit Transfer</a>
                  <a class="dropdown-item" href="#">Change of Campus</a>
                </div>
              </div>
    
        <a href="logout.php"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log Out</button></a>
        
    </div>
    </nav>

    <div class="bottom">
        <Div class="">
            <p class="rightTit">
                Credit Transfer
            </p>
           
            <Div class="rightcon">


                <div class="one">
                     <b>
                         Welcome to Student Support Services!
                     </b>


                </div>
        
                <div class="one">
                     <b>
                         You are applying for Credit Transfer. Few steps to go!
                     </b>


                </div>

                <div class="three xieyi">
                    <p style="width: 20px">
                        <b style="display: inline-block"><input type="checkbox" id="tongyi"></b>
                    </p>
                    <p style="width: 90%">
                        <label for="tongyi">
                            I confirm that the above documents and information given by me are true and genuine. 
                            I hereby take all the responsibility for all the information given by me.
                        </label>
                    </p>

                </div>
                <div class="bootbtn">
                    <a href="creditSignature.html" class="inbtn" >
                        <input type="button" class="btn btn-success" value="Next">

                    </a>
                </div>


        
            </Div>

        </Div>
    </div>


    

</body>
</html>